@import "tailwindcss";

html {
    width: 100%;
    height: 100%;
}

.grid-render-maintenance {
    @apply mt-5
}

.grid-render {
    @apply w-full h-fit grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-5 2xl:gap-y-7 gap-4;
}

.grid-render-4 {
    @apply 2xl:grid-cols-4
}

.grid-section {
    @apply rounded-xl bg-white/7 backdrop-blur-sm shadow-xl w-full xl:w-[90%] p-4 flex h-full flex flex-col gap-3;
}


.grid-container {
    @apply w-full h-full flex px-2 mx-auto lg:max-w-[90%] gap-2 xl:gap-10 flex-col xl:flex-row;
}

.grid-filter {
    @apply xl:w-1/5 flex justify-center h-full;
}

.grid-form {
    @apply rounded-xl bg-white/7 w-full xl:w-60 h-fit shadow-xl backdrop-blur-sm p-4 flex flex-col items-center gap-4 xl:fixed xl:top-[50%] xl:translate-y-[-50%];
}

.grid-form-refresh {
     @apply rounded-xl bg-white/7 w-full xl:w-60 h-fit shadow-xl backdrop-blur-sm p-4 flex flex-col items-center gap-4;
}

.grid-form-refresh-before {
    @apply xl:fixed flex flex-col gap-4
}

.grid-name {
    @apply w-full h-[10%] bg-white/7 rounded-xl shadow-xl backdrop-blur-lg flex justify-center items-center text-xl p-4 text-center xl:text-3xl font-semibold;
}

.grid-page-setter {
    @apply flex justify-between flex-col gap-2 h-full;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
    @apply cursor-pointer transition-transform transform hover:-translate-y-1
}